## Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.


```sql
SELECT *
FROM Worker
WHERE FIRST_NAME NOT IN ('Vipul', 'Satish');
```

## Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.



```sql
SELECT *
FROM Worker
WHERE FIRST_NAME LIKE '______h'; -- 6 underscores before 'h'
```

## Q-3. Write a query to validate Email of Employee.


```sql
SELECT *
FROM Employee
WHERE Email LIKE '%@%.%';
```