## Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.



```sql
SELECT SUBSTRING(FIRST_NAME, 1, 3) AS FIRST_THREE_CHARACTERS
FROM Worker;
```

## Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.



```sql
SELECT INSTR(FIRST_NAME, 'a') AS POSITION_OF_A
FROM Worker
WHERE FIRST_NAME = 'Amitabh';
```

## Q-3. Write an SQL query to print the name of employees having the highest salary in each department.



```sql
WITH RankedSalaries AS (
  SELECT
    FIRST_NAME,
    DEPARTMENT,
    SALARY,
    ROW_NUMBER() OVER (PARTITION BY DEPARTMENT ORDER BY SALARY DESC) AS SalaryRank
  FROM
    Worker
)
SELECT
  FIRST_NAME,
  DEPARTMENT,
  SALARY
FROM
  RankedSalaries
WHERE
  SalaryRank = 1;
```

### Explanation:

1. The `RankedSalaries` CTE uses the `ROW_NUMBER()` function to assign a rank to each employee within their department based on salary, ordered in descending order. The `PARTITION BY` clause is used to restart the numbering for each department.


2. The main query then selects the employees with a rank of 1, which corresponds to the highest salary in each department.


This query assumes that there are no ties for the highest salary within a department. If ties are possible and you want to include all employees with the highest salary, you can use the `RANK()` or `DENSE_RANK()` function instead of `ROW_NUMBER()`.