## Q-17. Write an SQL query to show the top n (say 10) records of a table.



```sql
SELECT *
FROM YourTable
LIMIT 10;
```

## Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.


```sql
SELECT DISTINCT Salary
FROM YourTable
ORDER BY Salary DESC
LIMIT 1 OFFSET 4;
```