## Q-15. Write an SQL query to fetch intersecting records of two tables.


```sql
SELECT * FROM Table1
INTERSECT
SELECT * FROM Table2;
```

## Q-16. Write an SQL query to show records from one table that another table does not have.

#### Using `NOT EXISTS` clause:

```sql
SELECT *
FROM Table1
WHERE NOT EXISTS (
    SELECT 1
    FROM Table2
    WHERE Table2.CommonColumn = Table1.CommonColumn
);
```

#### Using `NOT IN`  clause:

```sql
SELECT *
FROM Table1
WHERE CommonColumn NOT IN (
    SELECT CommonColumn
    FROM Table2
    WHERE CommonColumn IS NOT NULL
);
```