## Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.


```sql
SELECT RTRIM(FIRST_NAME) AS TRIMMED_FIRST_NAME
FROM Worker;
```

## Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.



```sql
SELECT DISTINCT DEPARTMENT, LENGTH(DEPARTMENT) AS DEPARTMENT_LENGTH
FROM Worker;
```

## Q-3. Write an SQL query to fetch nth max salaries from a table.


```sql
SELECT DISTINCT Salary
FROM Worker
ORDER BY Salary DESC
LIMIT 1 OFFSET 1;
```