## Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.


```sql
SELECT *
FROM Worker
WHERE MONTH(Joining_Date) = 2 AND YEAR(Joining_Date) = 2014;
```

## Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.


```sql
SELECT field1, field2, COUNT(*)
FROM YourTable
GROUP BY field1, field2
HAVING COUNT(*) > 1;
```

## Q-3. How to remove duplicate rows from Employees table.


```sql
WITH DuplicateCTE AS (
    SELECT 
        *,
        ROW_NUMBER() OVER (PARTITION BY field1, field2, ... ORDER BY (SELECT NULL)) AS RowNum
    FROM Employees
)
DELETE FROM DuplicateCTE WHERE RowNum > 1;
```